#bracket-container{
    margin:auto; 
    width:1500px;
    height: 900px;
    padding: "50px"
}
    
/*     
    position: absolute;
    z-index: -1;
    left: 275px;
    width: 1200px;
    height:700px;


} */





/* .bracket {
	display: grid;
	grid-template-columns: repeat(9, 1fr);
	grid-template-rows: repeat(94,8px);
	grid-gap: 2px 6px;
	grid-auto-flow: column;
	margin: 20px auto;
	width:1200px;
	overflow-y:scroll; */