.logos:hover{
    transform: scale(1.3);
    z-index: 1;
    border-radius: 10px;
    mix-blend-mode: normal;
}

.logos{
    mix-blend-mode: luminosity;
    float: left;
    width: 85px;
    height: 85px;
    object-fit: cover;
    margin: 20px;
}

#teams-map-container{
    margin:auto; 
    width: 700px; 
    height: 400px; 
    padding:"20px";
}

#teams-map-container>img{
    position: absolute;
    z-index: -1;
    left: 275px;
    width: 1200px; 
    height: 700px;
}

#logo-1{
    position: absolute;
    left: 1120px;
    top: 520px;
    width: 75px;
    height: 75px;
}

#logo-2{
    position: absolute;
    left: 1355px;
    top: 234px;
}

#logo-3{
    position: absolute;
    left: 1318px;
    top: 296px;
}

#logo-4{
    position: absolute;
    left: 1189px;
    top: 469px;
}

#logo-5{
    position: absolute;
    left: 1002px;
    top: 300px;
}

#logo-6{
    position: absolute;
    left: 1126px;
    top: 315px;
}

#logo-7{
    position: absolute;
    left: 822px;
    top: 542px;
}

#logo-8{
    position: absolute;
    left: 658px;
    top: 372px;
}

#logo-9{
    position: absolute;
    left: 1080px;
    top: 250px;
    width: 75px;
    height: 75px;
}

#logo-10{
    position: absolute;
    left: 254px;
    top: 343px;
    width: 90px;
    height: 90px;
}

#logo-11{
    position: absolute;
    left: 860px;
    top: 626px;
}

#logo-12{
    position: absolute;
    left: 1050px;
    top: 380px;
    width: 75px;
    height: 75px;
}

#logo-13{
    position: absolute;
    left: 350px;
    top: 500px;
}

#logo-14{
    position: absolute;
    left: 300px;
    top: 430px;
    width: 95px;
    height: 95px;
}

#logo-15{
    position: absolute;
    left: 980px;
    top: 480px;
}

#logo-16{
    position: absolute;
    left: 1230px;
    top: 660px;
    width: 95px;
    height: 95px;
}

#logo-17{
    position: absolute;
    left: 980px;
    top: 225px;
}

#logo-18{
    position: absolute;
    left: 890px;
    top: 210px;
}

#logo-19{
    position: absolute;
    left: 990px;
    top: 620px;
    width: 90px;
    height: 90px;
}

#logo-20{
    position: absolute;
    left: 1275px;
    top: 250px;
}

#logo-21{
    position: absolute;
    left: 815px;
    top: 475px;
}

#logo-22{
    position: absolute;
    left: 1185px;
    top: 625px;
}

#logo-23{
    position: absolute;
    left: 1270px;
    top: 325px;
    width: 75px;
    height: 75px;
}

#logo-24{
    position: absolute;
    left: 465px;
    top: 505px;
}

#logo-25{
    position: absolute;
    left: 320px;
    top: 145px;
}

#logo-26{
    position: absolute;
    left: 300px;
    top: 290px;
    width: 75px;
    height: 75px;
}

#logo-27{
    position: absolute;
    left: 775px;
    top: 646px;
    width: 95px;
    height: 95px;
}

#logo-28{
    position: absolute;
    left: 1150px;
    top: 200px;
}

#logo-29{
    position: absolute;
    left: 475px;
    top: 315px;
}

#logo-30{
    position: absolute;
    left: 1225px;
    top: 365px;
    width: 75px;
    height: 75px;
}